$background-color-white: #fff;
$background-color-black: #000;

$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #e5e6eb;
$gray-4: #c9cdd4;
$gray-5: #a9aeb8;
$gray-6: #86909c;
$gray-7: #6b7785;
$gray-8: #4e5969;
$gray-9: #272e3b;